.box {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    background-color: white;
}

@media (min-width: 768px){
    .filter {
        display: flex;
        align-items: center;
    }

    .mobile-filter__menu {
        display: none;
    }

    .filter-field__input {
        width: 200px;
    }
    
    .filter-field__select {
        width: 150px;
    }
    
    .mobile-filter__menu-button {
        visibility: hidden;
        display: none;
    }
}

.filter-field {
    padding: 5px;
}

.filter-field__input, .filter-field__select, .filter-field__button {
    font-size: 14px;
    padding: 5px;
}

.filter-field__input, .filter-field__button {
    padding: 5px 15px;
}

.filter-field__select {
    background-image: url(/icn-arrow-down.png);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-position: right center;
    background-size: 15px;
    -moz-appearance: none;
    -o-appearance: none;
    height: 30px;
    background-origin: content-box;
    background-color: white;
}

.filter-field__button   {
    background-color: teal;
    color: white;
}

@media (max-width: 767px) {
    .mobile-filter__menu-closed {
        visibility: hidden;
        display: none;
    }

    .filter-field__select, .filter-field__button {
        width: 100%;
    }

    .mobile-filter__menu-button button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .mobile-filter__menu-button-icon {
        width: 25px;
    }
}
